<div class="nav">
<h1>Maxgrok</h1>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

<div class="main">
  <div class ="jumbotron">
  <h2>
    I design and build web apps.
  </h2>
  <a href="#" class="btn">View My Work</a>
</div>  
  </div>
  
<footer class="footer">
  
  <div class="footer">
    ::before
 	<ul>
    <li><a href="#">Github<img src="#"></a></li>
    <li><a href="#">LinkedIn<img src= "#"></a></li>
    <li><a href="#">Twitter<img src="#"></a></li>
  </ul>
  ::after
</div>
</footer>