<div class="nav">
<h1>Maxgrok</h1>
  <ul>
    <li>About</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>
</div>

<div class="main">
  <h2>
    I design and build web apps.
  </h2>
  <a href="#" class="btn">View My Work</a>
</div>
<div class="footer">
 	<ul>
    <li><a href="#">Github<img src="#"></a></li>
    <li><a href="#">LinkedIn<img src= "#"></a></li>
    <li><a href="#">Twitter<img src="#"></a></li>
  </ul>
</div>