<div class="nav">
<h1>Maxgrok</h1>
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>

<div class="main">
  <div class ="jumbotron">
  <h2>
    I design and build web apps.
  </h2>
  <a href="#" class="btn">View My Work</a>
</div>  
  </div>
  
<footer class="footer">
  
  <div class="footer">
    ::before
 	<ul>
    <li><a href="www.github.com/maxgrok"><img src="http://imgur.com/O2HEbvW.png"></a></li>
    <li><a href="#"><img src= "http://imgur.com/HhOITYY.png"></a></li>
  </ul>
  ::after
</div>
</footer>