<img src="" alt="Self" style="border-radius:50%; margin:0 auto; display:block; text-align:center;" width="128" height="128"/>

<div class="container">
  <p style="color:white; font-weight:bold;">
  Hello, World! My name is Max. I build and design web apps.<br> 
I am currently an online student in Codecademy, FreeCodeCamp, and Learn.co<br>
I've completed courses on the following topics: Command Line, Git, Ruby, Ruby on Rails, Bootstrap, Responsive Design, Heroku, jQuery, HTML5, and CSS3.<br>
  My aim is to become a junior full-stack developer.</p>
</div>