<p style ="margin-top:8%;">
<%= link_to 'Blog', 'http://maxgrok.github.io', :target => "_blank" %>
<br>
<%= link_to 'Email', 'maxgrok2011@gmail.com' %>
<br>
<%= link_to 'Github', 'http://www.github.com/maxgrok', :target =>"_blank" %><br></p>