// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a{
  color:white;
  text-decoration:none;
  font-weight:bold;
}
a:hover{
  color:white;
  text-decoration:none;
}
body{
  text-align:center;
}
.footer{
  position:absolute;
  bottom:0;
}